// It is necessary to avoid inner border radius in input password when overriding variable @border-radius-base
.ant-input-password input {
  border-radius: 0;
}

.ant-descriptions-item-label {
  width: 250px;
  font-weight: 700;
}

.ant-descriptions-item-content {
  background-color: @white;
}

.ant-descriptions,
.ant-select,
.ant-input-number {
  width: 100%;
}

.ant-modal-title {
  font-weight: 700;
}

.ant-table-cell {
  word-break: break-word;
}
