@border-radius-base: 8px;

@layout-sider-background: @white;

@menu-item-font-size: 16px;
@menu-inline-toplevel-item-height: 48px;

@table-border-radius-base: 16px;
@table-header-bg: rgba(@blue-6, 0.2);

@form-item-label-font-size: 15px;
@form-vertical-label-padding: 0 0 2px;

@descriptions-title-margin-bottom: 16px;

@modal-header-title-font-size: 18px;

@typography-title-margin-bottom: 0;

@input-bg: #f1f3f5;
@select-background: #f1f3f5;
@picker-bg: #f1f3f5;
@tooltip-bg: #000000;

// custom constants
@select-transformation-type-width: 180px;
