.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;

    .logo {
      min-width: 200px;
    }

    .select {
      width: 300px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 40px;

    .user {
      display: flex;
      align-items: center;
      gap: 16px;

      .userInfo {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 420px;

        .username {
          color: @white !important;
        }

        .avatar {
          flex-shrink: 0;
        }
      }
    }
  }
}
